#clear {
  display: none;
  text-transform: uppercase;
  font-size: small;
  margin-bottom: 10px;
}
#clear:hover {
  background-color: purple;
  font-size: larger;
  transition: 0.8s;
  border: red;
}
#btn33 {
  font-size: large;
  background-color: purple;
  color: black;
}
#btn33:hover {
  background-color: red;
  transition: 1s;
  font-size: small;
}

a:hover {
  text-shadow: 5px 5px 5px black;
  border: 1px outset white;
}
#searchText {
  background-color: black;
}
#searchText:hover {
  background-color: white;

  transition: 1s;
}

h1 {
  font-family: aerial;
  color: #bd8cbf;
  text-shadow: 5px 5px 5px rgba(135, 206, 250, 0.4);
}

#delicon:hover {
  cursor: pointer;
}

#libraryForm {
  border: 3px solid white;
  box-shadow: 0px 3px 20px grey, 1px 0px 3px #bd8cbf;
  padding: 20px;
  border-radius: 20px;
}

.form-check1:hover,
.form-check2:hover,
.form-check3:hover,
.form-check4:hover,
.form-check5:hover,
.form-check6:hover {
  color: green;

  text-style: outset;
  font-weight: bold;
}

#table {
  border: 3px solid white;
  box-shadow: 0px 3px 20px grey, 1px 0px 3px #bd8cbf;
  padding: 10px;
  border-radius: 20px;
}

#read {
  height: 1.4em;
  width: 1.4em;
}

.icon {
  color: red;
  font-size: 18px;
}

#filter-books {
  border-radius: 45px;
  border: none;
  outline: none;
  height: 38px;
  padding: 0 5px;
}

#filter-books:focus {
  outline: 3px solid rgb(46, 123, 255);
}
